<label for="latitude">Latitude:</label>
<input type="number" id="latitude" step="any" placeholder="Enter latitude" [(ngModel)]="latitude">

<label for="longitude">Longitude:</label>
<input type="number" id="longitude" step="any" placeholder="Enter longitude" [(ngModel)]="longitude">

<label for="radius">Radius (in miles):</label>
<input type="number" id="radius" placeholder="Enter radius" [(ngModel)]="radius">

<button (click)="findGolfCourses()">Find Golf Courses</button>

<h2>Golf Courses:</h2>
  <div *ngFor="let course of golfCourses" class="card">
    <strong>Name:</strong> {{ course.name }}<br>
    <strong>Zip:</strong> {{ course.zip }}<br>
    <strong>Distance:</strong> {{ course.distance }}<br>
    <button (click)="getCourseDetails(course.zip, course.name)">Course Details</button>
    <hr>
    <div *ngIf="course.courseDetails">
      <h3>Course Details:</h3>
      <ul>
        <li><strong>Name:</strong> {{ course.courseDetails.name }}</li>
        <li><strong>Address:</strong> {{ course.courseDetails.formatted_address }}</li>
        <li><strong>Phone:</strong> {{ course.courseDetails.formatted_phone_number }}</li>
        <li><strong>Website:</strong> <a [href]="course.courseDetails.website" target="_blank">{{ course.courseDetails.website }}</a></li>
        <li><strong>Rating:</strong> {{ course.courseDetails.rating }}</li>
        <li>
          <h4>Opening Hours:</h4>
          <ul>
            <li *ngFor="let period of course.courseDetails.opening_hours.periods">
              {{ getDayOfWeek(period.open.day) }}: {{ formatTime(period.open.time) }} - {{ formatTime(period.close.time) }}
            </li>
          </ul>
        </li>
        <li>
          <h4>Photos:</h4>
          <ul>
            <li *ngFor="let photo of course.courseDetails.photos">
              <img [src]="getPhotoUrl(photo.photo_reference)" [alt]="photo.html_attributions[0]">
            </li>
          </ul>
          <br/>
          <hr>
        </li>
      </ul>
    </div>
  </div>